---
import type { LinkItem } from "../data/links";

interface Props {
  link: LinkItem;
}

const { link } = Astro.props;
---

<div class="link-card">
  <a
    href={link.url}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={link.title}></a>
  <i class={link.icon}></i>
  <h3>{link.title}</h3>
</div>